// New-june
@font-face{
	font-family: 'Regular';
	src: url('../../../fonts/new-june/NewJuneBook.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Medium';
	src: url('../../../fonts/new-june/NewJuneMedium.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Semibold';
	src: url('../../../fonts/new-june/NewJuneSemibold.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Bold';
	src: url('../../../fonts/new-june/NewJuneBold.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}